.showcase {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-image: $url_0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	padding-top: 15%;
	position: relative;
	z-index: 1;
	.text {
		line-height: 1.2;
		margin-top: 1rem;
	}
}
.title {
	font-size: 50px;
	color: $white;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.text {
	width: 50%;
	font-size: 20px;
	color: $white;
	font-weight: bold;
	padding: 2px;
	margin: 0;
	margin-bottom: 4px;
	#corrupt {
		background: $red;
		padding: 0px 5px;
	}
}
.btn-get-start {
	padding: 15px;
	border-radius: 10px;
	font-size: 20px;
	color: $gallery;
	background-color: $blue_dianne;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		background-color: $big_stone_79;
	}
}
hr {
	width: 400px;
	border-top: 1px solid $white;
	border-bottom: 1px solid rbga(0,0,0,0.2);
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $black_50;
}
.home-section {
	width: 90%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3%;
	padding-left: 15px;
	padding-right: 15px;
}
.home-h2 {
	background-color: $blue_dianne;
	color: $white;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 10px;
}

.homepage {
	height: 440px;
	box-shadow: inset 2px 1px 2px 2px $black_7, inset -2px -2px 3px $white_76_7, inset 2px 2px 0 0 $white_76_7;
	transition: all 0.2s linear;
}

.home-comment {
	height: 32%;
	margin-bottom: 10px;
	h4 {
		text-align: center;
		color: $blue_dianne;
		font-size: 20px;
		border-bottom: 3px solid $blue_dianne;
		border-radius: 15px;
		padding: 5px 0;
		margin: 5px;
	}
	p {
		color: $blue_dianne;
		text-align: left;
		padding: 0 15px;
	}
}