@media screen and (max-width: 1085px) {
  .incident-container-all {
    width: 32%;
  }
}

@media screen and (max-width: 960px){
  .profile {
    width: 35%;
    padding-left: 5px;
    padding-right: 8px; 
  }
}
@media screen and (max-width: 768px){
  .incident-container-all {
    width: 48%;
  }
  .form-container-grid {
    grid-template-columns: 1fr;
  }
  #signup-wrapper, #signin-wrapper {
    margin-right: 20%;
    margin-left: 20%;
  }
  #signin-wrapper {
    margin-top: 10%;
    margin-bottom: 18%;
  }
  .report-form-container {
    margin-right: 15%;
    margin-left: 15%;
  }
  .first-incident-container {
    margin-left: 16%;
    margin-right: 16%;
  }
  .all-red-flag-list-container {
    margin-right: 9%;
    margin-left: 9%;
  }
  .user-profile {
    margin: 7% 1%;
  }
  .histroy h3 {
    font-size: 15px;
  }

  @media screen and (max-width: 700px) {
    .user-profile {
      display: flex;
      flex-direction: column;
      margin-left: 20%;
      margin-right: 20%;
    }
    .profile, .profile-record {
     width: 100%;
     margin-top: 2%
    }
  }

@media screen and (max-width: 746px) {
  .navbar a {
    display: none;
  }
  nav a:hover {
    border-bottom: 0px;
  }
  .navbar button.icon {
    float: right;
    display: block;
  }
  .navbar button.icon {
    width: 45px;
    background-color: $white;
    color: $blue_dianne;
    height: 45px;
    border: 1px solid $white;
    border-radius: 5px;
    margin-right: 1rem;
  }
  .navbar.responsive li {
    padding: 0px;
  }
  .navbar.responsive {
    width: 70%;
    position: relative;
    display: block;
  }
  .navbar.responsive button.icon {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    margin: 0 auto;
    line-height: 35px;
  }
  
}
@media screen and (max-width: 650px) {
  nav {
    width: 245px;
  }
 
  #signup-wrapper {
    margin-right: 8%;
    margin-left: 8%;
  }
  .report-form-container h3 {
    font-size: 18px;
  }
 
}

@media screen and (max-width: 560px){
  .home-h2 {
    font-size: 20px;
  }
  .showcase::after {
    height: 50vh;
  }
  .content {
    top: 15%;
    margin-top: 5px;
  }
  .content .title {
    margin-bottom: 10px;
    font-size: 40px;
  }
  .content .text, .content hr {
    display: none;
  }
  .incident-container-all {
    width: 98%;
  }
  #signin-wrapper {
    margin-right: 10%;
    margin-left: 10%;
  }
  .report-form-container {
    margin-right: 8%;
    margin-left: 8%;
  }
  .first-incident-container {
    margin-left: 6%;
    margin-right: 6%;
  }
  .all-red-flag-list-container .title-container {
    font-size: 20px;
  }
  .red-flag-list {
    flex-direction: column;
  }
  .group {
    width: 100%;
  }
  .red-flag-list p {
    margin: 2%;
  }
  .user-profile {
    margin-left: 10%;
    margin-right: 10%;
   }
  .profile-record .histroy {
    flex-direction: column;
  }
  .profile-record .histroy h3 {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .number-status {
    width: 100%;
  }
  
}
@media screen and (max-width: 320px){
  .report-form-container {
    margin-right: 5%;
    margin-left: 5%;
  }
  .user-profile {
    margin-left: 2%;
    margin-right: 2%;
  }
   .profile, .profile-record {
     width: 95%;
   }
  }
}
