//colors
$blue_dianne: rgb(39, 69, 85);
$white: rgb(255, 255, 255);
$gallery: rgb(238, 238, 238);
$big_stone_79: rgba(26, 51, 65, 0.794);
$black_50: rgba(0, 0, 0, 0.5);
$red: rgb(255, 0, 0);
$black_7: rgba(0, 0, 0, 0.07);
$white_76_7: rgba(255, 255, 255, 0.767);
$big_stone: rgb(26, 51, 65);
$dove_gray_70: rgba(105, 108, 109, 0.7);
$geyser_40: rgba(208, 223, 226, 0.4);
$monza: rgb(204, 10, 10);
$white: rgb(255, 255, 255);
$forest_green: rgb(17, 158, 36);
$forest_green_57: rgba(17, 158, 36, 0.575);
$blue_dianne_57: rgba(39, 69, 85, 0.575);
$blue_dianne_47: rgba(39, 69, 85, 0.479);
$yellow_orange: rgb(252, 165, 65);
$hot_cinnamon: rgb(206, 103, 20);
$vida_loca: rgb(78, 136, 11);
$yellow_sea: rgb(247, 172, 10);
$yellow_sea_89: rgba(247, 172, 10, 0.897);
$creole: rgb(31, 16, 2);
$scarlet: rgb(236, 19, 12);
$yellow_orange: rgb(252, 165, 65);
$hot_cinnamon: rgb(206, 103, 20);
$coral_red: rgb(240, 64, 64);

//urls
$url_0: url(../../public/images/homepage.jpg);

//fonts
$font_0: Work Sans;
$font_1: sans-serif;